---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/Accordion.astro";
import AccordionItem from "../components/AccordionItem.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import BreadcrumbsItem from "../components/BreadcrumbsItem.astro";
import Icon from "../components/Icon.astro";
---

<Layout title="agenda">
  <body>
    <Breadcrumbs>
      <BreadcrumbsItem href="/" label="Home" />
      <BreadcrumbsItem currentPage={true} label="Agenda" />
    </Breadcrumbs>

    <h2 class="title">Agenda</h2>

    <Accordion>
      <AccordionItem header="Introduction">
        <p>Who; Why; What; Where;</p>
      </AccordionItem>
      <AccordionItem header="Obsidian Zettelkasten">
        <ol>
          <li>
            <p>What is this and why would i want to use it?</p>
          </li>
          <li>
            <p>
              Download this <a
                target="_blank"
                href="https://github.com/ATH42/obsidian-seminar.git">repo</a
              >
            </p>
          </li>
          <li>
            <p>Repo Walkthrough</p>
          </li>
          <li>
            <p>Create some templates</p>
          </li>
          <li>
            <p>Utilize created Templates in your first daily note</p>
          </li>
          <li>
            <p>consolidate info from daily notes into MOC's and weekly notes</p>
          </li>
        </ol>
      </AccordionItem>

      <AccordionItem header="Vim Motions">
        <ol>
          <li>
            <p>What the frick is vim? should you know about it?!</p>
          </li>
          <li>
            <p>
              Vimtutor or <a target="_blank" href="https://www.vim-hero.com/"
                >Vimhero</a
              >
            </p>
          </li>
        </ol>
      </AccordionItem>

      <AccordionItem header="Shell and Terminal Emu's">
        <ol>
          <li>
            <pre>
        <code>
    defaults write -g InitialKeyRepeat -int 15 
    defaults write -g KeyRepeat -int 1 
    
    defaults write com.apple.dock autohide-delay -float 0; killall Dock
        </code>
</pre>
          </li>
          <li>
            <p>intro into dotfiles</p>
          </li>
          <li>
            <p>What is a shell?</p>
          </li>
          <li>
            <p>What is a terminal emulator?</p>
          </li>
          <li>
            <p>
              <a
                href="https://tiswww.case.edu/php/chet/bash/bashtop.html"
                target="_blank">bash</a
              > / <a href="https://zsh.sourceforge.io/" target="_blank">zsh</a>/ <a
                href="https://fishshell.com/"
                target="_blank">fish</a
              >
            </p>
          </li>
          <li>
            <p>
              <a href="https://ohmyz.sh/" target="_blank">oh-my-zsh</a> / <a
                href="https://github.com/oh-my-fish/oh-my-fish"
                target="_blank">oh-my-fish</a
              > & <a
                href="https://github.com/jorgebucaran/fisher"
                target="_blank">fisher</a
              >
            </p>
          </li>
          <li>
            <p>aliasing different commands</p>
          </li>
          <li>
            <p>useful CLI's that i use every day</p>
            <ul>
              <li>z</li>
              <li>exa</li>
              <li>bat</li>
              <li>lazygit</li>
            </ul>
          </li>
        </ol>
      </AccordionItem>
      <AccordionItem header="Overall Workspace & Raycast">
        <ul>
          <li><p>How to create & utilise virtual Desktops</p></li>
          <li><p>window manager</p></li>
          <li><p>scripting</p></li>
          <li><p>quicklinks</p></li>
          <li><p>snippets</p></li>
          <li><p>useful apps from the store</p></li>
        </ul>
      </AccordionItem>
      <AccordionItem header="VScode">
        <ul>
          <li><p>Keybinds & Shortcuts</p></li>
          <li>
            <p>Plugins</p><ul>
              <li>JS Doc with doxygen</li>
              <li>Matching Brackets</li>
              <li>Pretty Typescript errors</li>
              <li>template string converter</li>
            </ul>
          </li>
        </ul>
      </AccordionItem>

      <AccordionItem header="Isolating Problems">
        <ol>
          <li>What does this mean; and why is it helpful?</li>
          <li>How to do this in your own projects?</li>
          <li>how do you setup a project?</li>
        </ol>
      </AccordionItem>
    </Accordion>

    <Icon icon="smooth-line" />
  </body>
</Layout>

<style>
  body {
    padding: 1rem;
    width: 100vw;
    font-size: 20px;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }

  .title {
    font-size: 5em;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
    background-position: 0%;
  }
</style>
