---
import Layout from "../layouts/Layout.astro";
import Icon from "../components/Icon.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import BreadcrumbsItem from "../components/BreadcrumbsItem.astro";
import { Image } from "astro:assets";
import vsc from "../../public/vsc-sheet.png";
---

<Layout title="cheatsheets">
  <body>
    <Breadcrumbs>
      <BreadcrumbsItem href="/" label="Home" />
      <BreadcrumbsItem href="/cheatsheets" label="Cheatsheets" />
    </Breadcrumbs>
    <h2 class="title">Cheatsheets</h2>

    <div class="border">
      <a
        href="https://thingsfittogether.com/wp-content/uploads/2021/03/Vim-Cheatsheet-2-Final-Draft.png"
        target="_blank"
      >
        <img
          src="https://thingsfittogether.com/wp-content/uploads/2021/03/Vim-Cheatsheet-2-Final-Draft.png"
          alt="Vim Cheatsheet"
          height="500"
          loading="lazy"
        />
      </a>
    </div>

    <div class="border">
      <a
        href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf"
        target="_blank"
      >
        <Image src={vsc} alt="Vim Cheatsheet" height="500" loading="lazy" />
      </a>
    </div>
    <Icon icon="smooth-line" />
  </body>
</Layout>

<style>
  body {
    padding: 1rem;
    width: 100vw;
    font-size: 20px;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }

  .title {
    font-size: 5em;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .border {
    border: 1px solid white;
    width: fit-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 1rem;
  }
</style>
