---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cheatsheets">
  <main class="feed">
    <h2 class="title">Cheatsheets</h2>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
    width: 100vw;
    font-size: 20px;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }

  .title {
    font-size: 5em;
    text-align: center;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
